@model Make


<form method="post">


    @*si el campo id se llama diferente, por ejemplo make_Id se hace
    // <input asp-for="make_Id" hidden></input>  para guardar el dato del id en algun lugar *@


    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Delete Make </h2>
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" type="text" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger">   </span>
        </div>

        <button type="submit" class="btn btn-danger " style="width:150px">Delete</button>
        <a asp-controller="Make" asp-action="Index" class="btn btn-secondary"> Return to list</a>
    </div>


</form>

